:root {
  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;
  background: radial-gradient(
    circle,
    rgba(11, 0, 62, 0.156) 10%,
    transparent 10%
  );
  background-size: 20px 20px;
  color: var(--color-darkblue);
  --color-dark: #444b54;
  --color-light: rgb(217, 220, 225);
  --color-light-opacity: rgba(217, 220, 225, 0.5);
  --color-blue: #7397c4;
  --color-darkblue: #244670;
  --font-main: "Tillana", system-ui;
  --font-second: "Inter", sans-serif;
  --font-accent: "Fredericka the Great", serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  width: 100%;
}
